<h1>You've deleted that friend!</h1>
<div class="row button-row">
  <div class="col-xs-4 col-sm-4 col-md-3">
    <button type="submit" class="add-new-friend-button">Add New Friend</button>
  </div>
</form>
  <div class="col-xs-4 col-sm-4 col-md-3">
    <form action="/clear-all-friends">
      <button type="submit" class="clear-all-friends-button">Clear All Friends</button>
    </form>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-3">
    <form action="/">
      <button type="submit" class="home-button">Back to Home</button>
    </form>
  </div>
</div>
