<h3>Tell me about your friend:</h3>

<form action = "/friend/new" method="post">
  <label for = "friend-name">Name: </label>
  <input id="friend-name" name="friend-name" type="text">
  <label for = "friend-phone">Phone Number: </label>
  <input id="friend-phone" name="friend-phone" type="number">
  <label for = "friend-address">Address: </label>
  <input id="friend-address" name="friend-address" type="text">
  <button type="submit">Add New Friend</button>
</from>
