<h1>Your list of friends</h1>
<div class="row">
  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 side-bar">
  </div>
  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 friends-list">
    <ol>
    @foreach (var friend in Model)
    {
      <li class="friends-list"><h3><a href="/friend/@friend.GetId()">@friend.GetName()</a></h3></li>
    }
    </ol>
    <ul>
  </div>
  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 side-bar">
  </div>
</div>
<h3>Would you like to add another friend?</h3>
@Html.Partial("friend-form.cshtml")
<ul>
