@Html.Partial("header.cshtml")
<h1>Tell me about your friend:</h1>
<form action="/contact_created" class="friend-form" method="post">
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
      <label for="friend-name">Name:</label>
      <br>
      <label for="friend-desc">Point of reference:</label>
      <br>
      <label for="friend-phone">Phone Number:</label>
      <br>
      <label for="friend-address">Address:</label>
      <br>
      <label for="friend-email">Email:</label>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
      <input id="friend-name" name="friend-name" class="friend-field" type="text" autofocus>
      <br>
      <input for="friend-desc" name="friend-desc" class="friend-field" type="text">
      <br>
      <input id="friend-phone" name="friend-phone" class="friend-field" type="text">
      <br>
      <input id="friend-address" name="friend-address" class="friend-field" type="text">
      <br>
      <input id="friend-email" name="friend-email" class="friend-field" type="text">
      <br>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 side-bar">
      <div class="row">
        <button type="submit" class="add-new-friend-button">Add New Friend</button>
      </div>
      <br>
    </form>
      <div class="row">
        <form action="/">
          <button type="submit" class="home-button">Back to Home</button>
        </form>
      </div>
    </div>
  </div>
</div>
