<ol>
@foreach (var friend in Model)
{
  <li><h3><a href="/friend/@friend.GetId()">@friend.GetName()</a></h3></li>
}
</ol>
<ul>
<h3>Would you like to add another friend?</h3>
@Html.Partial("friend-form.cshtml")
<ul>
