@Html.Partial("header.cshtml")
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
      <h1>Hello and welcome to the address book!</h1>
      <form action="/friends_list">
        <button class="view-all-friend-button" type="submit">View all friends</a></button>
      </form>
      <form action="/add_new_friend">
        <button class="add-new-friend-button" type="submit">Add a new friend</a></button>
      </form>
    </div>

  </div>
</div>
