body {
  background-color: #00BCD4;
  font-family: 'Open Sans', sans-serif;
  background-image: url("../img/cloud-background.png");
  width: 100%;
  height: 100%;
  background-size: cover;
}

h1 {
  background-color: #00ACC1;
  color: white;
  text-shadow: 3px 3px 3px black;
  text-align: center;
}

h3 {
  color: white;
  text-shadow: 2px 2px 2px black;
  text-align: center;
}

/*.add-new-friend-button {
  background-color: #B2EBF2;
  border-style: outset;
  border-color: #006064;
  border-width: thick;
  text-align: center;
}*/

.view-all-friend-button {
	background-color:#0097A7;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #E0F7FA;
	display:inline-block;
	cursor:pointer;
	color:#E0F7FA;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.view-all-friend-button:hover {
	background-color:#B2EBF2;
  color: #0097A7;
}
.view-all-friend-button:active {
	position:relative;
	top:1px;
}

.home-button {
	background-color:#0097A7;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #E0F7FA;
	display:inline-block;
	cursor:pointer;
	color:#E0F7FA;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.home-button:hover {
	background-color:#B2EBF2;
  color: #0097A7;
}
.home-button:active {
	position:relative;
	top:1px;
}


.add-new-friend-button {
	background-color:#0097A7;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #E0F7FA;
	display:inline-block;
	cursor:pointer;
	color:#E0F7FA;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.add-new-friend-button:hover {
	background-color:#B2EBF2;
  color: #0097A7;
}
.add-new-friend-button:active {
	position:relative;
	top:1px;
}

.clear-all-friends-button {
	background-color: #00838F;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #E0F7FA;
	display:inline-block;
	cursor:pointer;
	color:#E0F7FA;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.clear-all-friends-button:hover {
  background-color:#D32F2F;

  color: white;
}
.clear-all-friends-button:active {
  background-color:#B2EBF2;
	position:relative;
	top:1px;
}

.button-row {
  padding-top: 15px;
}

.friend-form {
  color: white;
  text-shadow: 2px 2px 1px #006064;
  text-align: right;
}

.friend-field {
  color: black;
  text-shadow: 2px 2px 2px solid black;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  text-align: left;
}

.friends-list {
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: 2px 2px 1px white;
}

.side-bar {
  width: 25%;
  min-height: 100px;
}

a {
  color: #E0F7FA;
  text-decoration: none;
  text-shadow: 2px 2px 1px black
}

a:hover {
  text-decoration: none;
  color: #00E5FF;
}
